@import './common.css';

#canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

#uiLayer {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #ffffff80;
}

.widget-position {
    width: 80px;
}
